.card {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem; /* Espacio entre las tarjetas */
  background-color: rgb(200, 244, 229);
  cursor: pointer;
}

.card:hover{
  background-color: rgb(163, 175, 171);

}

  .card-content {
    padding: 16px;
  }
  
  .card-content h2 {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 8px;
  }
  
  .card-content p {
    text-align: center;
    font-size: 1rem;
    color: black;
    line-height: 1.4;
  }
  